Repository ralgar/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: terraform:init, ansible-lint, kube-linter, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply, pages

terraform:init:
  stage: prepare
  image: registry.gitlab.com/gitlab-org/terraform-images/releases/terraform:1.2.6
  script:
  - cd ${TF_ROOT}
  - gitlab-terraform init

ansible-lint:
  stage: lint
  image: registry.gitlab.com/pipeline-components/ansible-lint:latest
  script:
  - ansible-lint --show-relpath metal

kube-linter:
  stage: lint
  image:
    name: docker.io/stackrox/kube-linter:v0.6.5-alpine
    entrypoint:
    - ''
  script:
  - /kube-linter lint cluster

markdownlint:
  stage: lint
  image:
    name: ghcr.io/igorshubovych/markdownlint-cli:v0.38.0
    entrypoint:
    - ''
  script:
  - markdownlint "**/*.md"

terraform:validate:
  stage: lint
  image: registry.gitlab.com/gitlab-org/terraform-images/releases/terraform:1.2.6
  script:
  - cd ${TF_ROOT}
  - gitlab-terraform validate

terraform:plan:
  stage: build
  image: registry.gitlab.com/gitlab-org/terraform-images/releases/terraform:1.2.6
  environment:
    name: ${ENVIRONMENT}
    action: prepare
  script:
  - cd ${TF_ROOT}
  - gitlab-terraform plan -var openstack_clouds_file=${OS_CLOUDS} -var-file=${TF_VARS_FILE}
  - gitlab-terraform plan-json
  ...

terraform:get_plan:
  stage: build
  image: registry.gitlab.com/gitlab-org/terraform-images/releases/terraform:1.2.6
  variables:
    PROJECT_API_URL: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}
    TF_PLAN_PATH: infra/envs/${ENVIRONMENT}/plan.cache
  script:
  - cd ${TF_ROOT}
  - MR="$(printf "$CI_COMMIT_DESCRIPTION" | grep 'MR:')"
  ...

terraform:apply:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/terraform-images/releases/terraform:1.2.6
  environment:
    name: ${ENVIRONMENT}
    action: start
    on_stop: terraform:destroy
    auto_stop_in: ${AUTO_STOP_IN}
  script:
  - cd ${TF_ROOT}
  - gitlab-terraform apply

pages:
  stage: build
  image:
    name: docker.io/squidfunk/mkdocs-material:9
    entrypoint:
    - ''
  script:
  - mkdocs build --config-file docs/mkdocs.yml --site-dir ${CI_PROJECT_DIR}/public
  artifacts:
    paths:
    - public

docs(features): add Glance to features list
  docs/content/features.md
Due: markdownlint, pages

fix(templates): enable Windows 2019 Desktop build
  .gitlab-ci.yml
  docs/content/getting-started/windows-images.md
  templates/providers.pkr.hcl
  templates/windows-common.pkr.hcl
Due: terraform:init, kube-linter, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply, pages

fix(infra): decouple DNS resources from FCOS module
  infra/envs/prod/compute.tf
  infra/envs/prod/dns.tf
  infra/envs/prod/dns_zone.tf
  infra/envs/prod/main.tf
  infra/modules/openstack/fcos-mediasrv/dns_records.tf
  infra/modules/openstack/fcos-mediasrv/ignition.tf
  infra/modules/openstack/fcos-mediasrv/variables.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(infra): trim trailing . from FCOS module domain
  infra/envs/prod/compute.tf
  infra/envs/prod/dns.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(metal): deployment FUBAR and other issues
  metal/roles/openstack/bootstrap_host/tasks/files.yml
  metal/roles/openstack/bootstrap_host/tasks/main.yml
  metal/tests/deployment/.terraform.lock.hcl
  metal/tests/deployment/main.tf
  metal/tests/deployment/providers.tf
Due: ansible-lint

ci(infra): refactor into parent-child pipelines
  .gitlab-ci.yml
  .gitlab/ci/clusters.yml
  .gitlab/ci/docs.yml
  .gitlab/ci/infra.yml
  .gitlab/ci/metal.yml
  .gitlab/ci/templates.yml
  .gitlab/templates/build-docs.yml
  Makefile
  docs/content/deployments/introduction.md
  docs/content/deployments/main-k8s.md
  docs/content/deployments/main.md
  docs/content/getting-started/cicd-configuration.md
  docs/content/getting-started/deploy-openstack.md
  docs/content/getting-started/windows-images.md
  docs/mkdocs.yml
  infra/bootstrap/.terraform.lock.hcl
  infra/bootstrap/main.tf
  infra/bootstrap/providers.tf
  infra/bootstrap/variables.tf
  infra/deployments/main-k8s/.terraform.lock.hcl
  infra/deployments/main-k8s/cluster.tf
  infra/deployments/main-k8s/dns.tf
  infra/deployments/main-k8s/identity.tf
  infra/deployments/main-k8s/main.tf
  infra/deployments/main-k8s/networks.tf
  infra/deployments/main-k8s/outputs.tf
  infra/deployments/main-k8s/providers.tf
  infra/deployments/main-k8s/storage.tf
  infra/deployments/main-k8s/variables.tf
  infra/deployments/main/.terraform.lock.hcl
  infra/deployments/main/compute.tf
  infra/deployments/main/dns.tf
  infra/deployments/main/main.tf
  infra/deployments/main/providers.tf
  infra/deployments/main/storage.tf
  infra/deployments/main/variables.tf
  metal/roles/openstack/defaults/tasks/main.yml
  metal/roles/openstack/defaults/tasks/projects.yml
Due: terraform:init, ansible-lint, kube-linter, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply, pages

fix(infra): resolve minor issues caused by CI refactor
  infra/deployments/main/compute.tf
  infra/deployments/main/main.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(infra): drop the suffix from prod projects
  infra/bootstrap/.terraform.lock.hcl
  infra/bootstrap/main.tf
  infra/bootstrap/providers.tf
  infra/deployments/main/main.tf
  infra/deployments/main/providers.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

feat(metal): enable Glance image decompression and conversion
  metal/roles/openstack/bootstrap_host/files/glance-image-import.conf
  metal/roles/openstack/bootstrap_host/tasks/config/glance.yml
  metal/roles/openstack/bootstrap_host/tasks/main.yml
  metal/roles/openstack/bootstrap_host/templates/globals.yml.j2
Due: ansible-lint

chore(infra-main): update FCOS image version
  infra/deployments/main/compute.tf
  infra/deployments/main/main.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(infra-mediasrv): use /var/mnt instead of FCOS /mnt symlink
  infra/modules/ignition/mediasrv/files/jellyfin.service
  infra/modules/ignition/mediasrv/files/prowlarr.service
  infra/modules/ignition/mediasrv/files/radarr.service
  infra/modules/ignition/mediasrv/files/sabnzbd.service
  infra/modules/ignition/mediasrv/files/sonarr.service
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

feat(metal): create initial OpenStack SSH public key
  metal/roles/openstack/deploy_kolla/handlers/post-deploy.yml
Due: ansible-lint

docs(*): update instructions for CI/CD variables
  .markdownlint.yaml
  docs/content/deployments/main.md
  docs/content/getting-started/cicd-configuration.md
  docs/content/getting-started/prerequisites.md
Due: markdownlint, pages

ci(*): a couple of small fixes for CI infra jobs
  .gitlab-ci.yml
  .gitlab/ci/infra.yml
Due: terraform:init, kube-linter, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply, pages

fix(infra-admin): add lifecycle rule for Ubuntu image
  infra/deployments/admin/images/ubuntu.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(infra-admin): set cluster template to public
  infra/deployments/admin/magnum_templates/k8s-v1.26.8-1.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

ci(tags): allow pipelines on pushed tags
  .gitlab-ci.yml
Due: terraform:init, kube-linter, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply, pages

fix(metal): resolve Kickstart UEFI boot bug
  docs/content/getting-started/deploy-openstack.md
  metal/roles/rhel9/kickstart/files/src/init
Due: ansible-lint, markdownlint, pages

docs(getting-started): add Podman dependency
  docs/content/getting-started/prerequisites.md
Due: markdownlint, pages

fix(metal): resolve rootless GitLab runner deployment
  metal/roles/gitlab-runner/handlers/main.yml
Due: ansible-lint

fix(templates): run sysprep to generalize Windows images
  templates/playbooks/windows-server.yml
Due: none

refactor(infra): switch FCOS instance back to DHCP networking
  infra/deployments/admin/networks/dmz1.tf
  infra/deployments/main/dns.tf
  infra/modules/ignition/base/network.tf
  infra/modules/ignition/base/output.tf
  infra/modules/ignition/base/variables.tf
  infra/modules/openstack/fcos-mediasrv/ignition.tf
  infra/modules/openstack/fcos-mediasrv/network.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

Revert "refactor(infra): switch FCOS instance back to DHCP networking"
  infra/deployments/admin/networks/dmz1.tf
  infra/deployments/main/dns.tf
  infra/modules/ignition/base/network.tf
  infra/modules/ignition/base/output.tf
  infra/modules/ignition/base/variables.tf
  infra/modules/openstack/fcos-mediasrv/ignition.tf
  infra/modules/openstack/fcos-mediasrv/network.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

refactor(infra): switch FCOS instance back to DHCP networking
  infra/deployments/admin/networks/dmz0.tf
  infra/deployments/admin/networks/dmz1.tf
  infra/deployments/main/dns.tf
  infra/modules/ignition/base/network.tf
  infra/modules/ignition/base/output.tf
  infra/modules/ignition/base/variables.tf
  infra/modules/openstack/fcos-mediasrv/ignition.tf
  infra/modules/openstack/fcos-mediasrv/network.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(infra-admin): enable DHCP for dmz0 and dmz1
  infra/deployments/admin/networks/dmz0.tf
  infra/deployments/admin/networks/dmz1.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

refactor(infra): make FCOS module more dynamic
  infra/deployments/main-k8s/variables.tf
  infra/deployments/main/compute.tf
  infra/deployments/main/providers.tf
  infra/deployments/main/variables.tf
  infra/modules/openstack/fcos-mediasrv/compute.tf
  infra/modules/openstack/fcos-mediasrv/ignition.tf
  infra/modules/openstack/fcos-mediasrv/variables.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

Revert "refactor(infra): make FCOS module more dynamic"
  infra/deployments/main-k8s/variables.tf
  infra/deployments/main/compute.tf
  infra/deployments/main/providers.tf
  infra/deployments/main/variables.tf
  infra/modules/openstack/fcos-mediasrv/compute.tf
  infra/modules/openstack/fcos-mediasrv/ignition.tf
  infra/modules/openstack/fcos-mediasrv/variables.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

refactor(infra): make FCOS module more dynamic
  infra/deployments/admin/providers.tf
  infra/deployments/main-k8s/providers.tf
  infra/deployments/main/providers.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

refactor(infra): make FCOS module more dynamic
  infra/deployments/admin/providers.tf
  infra/deployments/main-k8s/variables.tf
  infra/deployments/main/compute.tf
  infra/deployments/main/providers.tf
  infra/deployments/main/variables.tf
  infra/modules/openstack/fcos-mediasrv/compute.tf
  infra/modules/openstack/fcos-mediasrv/ignition.tf
  infra/modules/openstack/fcos-mediasrv/variables.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

chore(mediasrv): pin Jellyfin version to 10.10 for now
  infra/modules/ignition/mediasrv/files/jellyfin.service
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

ci(renovate): setup Renovate bot
  .gitlab-ci.yml
  .gitlab/ci/renovate.yml
  .gitlab/renovate.json
  docs/content/getting-started/renovate-bot.md
  docs/mkdocs.yml
Due: terraform:init, kube-linter, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply, pages

ci(*): minor fixes and improvements
  .gitlab-ci.yml
  .gitlab/ci/clusters.yml
  .gitlab/ci/docs.yml
  .gitlab/ci/infra.yml
  .gitlab/ci/metal.yml
  .gitlab/ci/templates.yml
  .gitlab/renovate.json
Due: terraform:init, kube-linter, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply, pages

ci(root): no infra on scheduled pipelines
  .gitlab-ci.yml
Due: terraform:init, kube-linter, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply, pages

ci(root): no infra on scheduled pipelines proper
  .gitlab-ci.yml
Due: terraform:init, kube-linter, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply, pages

chore(deps): update helm release flux2 to v2.17.0
  infra/modules/kubernetes/flux/install.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

chore(deps): update ghcr.io/igorshubovych/markdownlint-cli docker tag to v0.45.0
  .gitlab/ci/docs.yml
Due: none

Path conditions:
  terraform:init: any of: .gitlab-ci.yml, infra/**/*
  ansible-lint: any of: metal/**/*
  kube-linter: any of: .gitlab-ci.yml, .kube-linter.yml, cluster/**/*
  markdownlint: any of: .gitlab-ci.yml, **/*.md
  terraform:validate: any of: .gitlab-ci.yml, infra/**/*
  terraform:plan: any of: .gitlab-ci.yml, infra/**/*
  terraform:get_plan: any of: .gitlab-ci.yml, infra/**/*
  terraform:apply: any of: .gitlab-ci.yml, infra/**/*
  pages: any of: .gitlab-ci.yml, .gitlab/templates/build-docs.yml, docs/**/*
