Repository ralgar/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: terraform:init, ansible-lint, kube-linter, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

terraform:init:
  stage: prepare
  image: registry.gitlab.com/gitlab-org/terraform-images/releases/terraform:1.2.6
  script:
  - cd ${TF_ROOT}
  - gitlab-terraform init

ansible-lint:
  stage: lint
  image: registry.gitlab.com/pipeline-components/ansible-lint:latest
  script:
  - ansible-lint --show-relpath metal

kube-linter:
  stage: lint
  image:
    name: docker.io/stackrox/kube-linter:v0.6.5-alpine
    entrypoint:
    - ''
  script:
  - /kube-linter lint cluster

markdownlint:
  stage: lint
  image:
    name: ghcr.io/igorshubovych/markdownlint-cli:v0.38.0
    entrypoint:
    - ''
  script:
  - markdownlint "**/*.md"

terraform:validate:
  stage: lint
  image: registry.gitlab.com/gitlab-org/terraform-images/releases/terraform:1.2.6
  script:
  - cd ${TF_ROOT}
  - gitlab-terraform validate

terraform:plan:
  stage: build
  image: registry.gitlab.com/gitlab-org/terraform-images/releases/terraform:1.2.6
  environment:
    name: ${ENVIRONMENT}
    action: prepare
  script:
  - cd ${TF_ROOT}
  - gitlab-terraform plan -var openstack_clouds_file=${OS_CLOUDS} -var-file=${TF_VARS_FILE}
  - gitlab-terraform plan-json
  ...

terraform:get_plan:
  stage: build
  image: registry.gitlab.com/gitlab-org/terraform-images/releases/terraform:1.2.6
  variables:
    PROJECT_API_URL: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}
    TF_PLAN_PATH: infra/envs/${ENVIRONMENT}/plan.cache
  script:
  - cd ${TF_ROOT}
  - MR="$(printf "$CI_COMMIT_DESCRIPTION" | grep 'MR:')"
  ...

terraform:apply:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/terraform-images/releases/terraform:1.2.6
  environment:
    name: ${ENVIRONMENT}
    action: start
    on_stop: terraform:destroy
    auto_stop_in: ${AUTO_STOP_IN}
  script:
  - cd ${TF_ROOT}
  - gitlab-terraform apply

chore(docs): migrate docs from external repo
  .ci/build-docs.yml
  .gitignore
  .gitlab-ci.yml
  .mkdocs.yml
  Makefile
  docs/assets/poweredge_t420.png
  docs/cinder/import-volume.md
  docs/kubernetes.md
  docs/magnum/troubleshooting.md
  docs/openstack/deploy_openstack.md
  docs/openstack/manage_volumes.md
  docs/overview.md
  docs/prerequisites.md
  docs/production.md
Due: terraform:init, kube-linter, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(docs): fix build and markdown rendering issues
  .ci/build-docs.yml
  docs/openstack/deploy_openstack.md
Due: markdownlint

ci(docs): fix mkdocs build
  .ci/build-docs.yml
  .gitignore
  .mkdocs.yml
  docs/index.md
Due: markdownlint

ci(docs): fix mkdocs build again
  .ci/build-docs.yml
  .mkdocs.yml
  README.md
Due: markdownlint

feat(docs): improve layout
  .mkdocs.yml
  docs/environments/kubernetes.md
  docs/environments/production.md
  docs/features.md
  docs/getting-started/assets/poweredge_t420.png
  docs/getting-started/cicd-configuration.md
  docs/getting-started/deploy-openstack.md
  docs/getting-started/prerequisites.md
  docs/index.md
  docs/managing-openstack/cinder/import-export-volumes.md
  docs/reference/license.md
Due: markdownlint

fix(k8s): externally provision media volume
  cluster/apps/media-server/storage.yaml
  cluster/system/flux-sync/apps/media-server.yaml
  infra/envs/dev/cluster.tf
  infra/envs/dev/storage.tf
  infra/modules/openstack/k8s-cluster/template.tf
Due: terraform:init, kube-linter, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

feat(metal): enable OpenStack Designate service
  metal/10-deploy-openstack.yml
  metal/roles/common/wait_for_connection/defaults/main.yml
  metal/roles/common/wait_for_connection/tasks/main.yml
  metal/roles/openstack/kolla-deploy/handlers/post-deploy.yml
  metal/tests/deployment/ansible.tf
  metal/tests/deployment/secgroups.tf
  metal/tests/function/.terraform.lock.hcl
  metal/tests/function/designate.tf
  metal/tests/function/providers.tf
  metal/tests/function/variables.tf
  metal/vars/globals.yml
Due: ansible-lint

fix(metal): include variable file in GitLab Runner playbook
  metal/99-gitlab-runner.yml
Due: ansible-lint

fix(infra): move restic config to /etc/profile.d
  infra/modules/openstack/fcos-prod/modules/backups/outputs.tf
  infra/modules/openstack/fcos-prod/modules/backups/restic.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(metal): enable forwarding for Designate
  metal/10-deploy-openstack.yml
  metal/roles/openstack/designate/defaults/main.yml
  metal/roles/openstack/designate/handlers/main.yml
  metal/roles/openstack/designate/tasks/main.yml
Due: ansible-lint

feat(infra): implement local DNS in prod
  docs/getting-started/cicd-configuration.md
  docs/getting-started/deploy-openstack.md
  docs/getting-started/prerequisites.md
  infra/envs/prod/compute.tf
  infra/envs/prod/dns.tf
  infra/envs/prod/variables.tf
  infra/modules/openstack/fcos-prod/compute.tf
  infra/modules/openstack/fcos-prod/ignition.tf
  infra/modules/openstack/fcos-prod/modules/services/swag.tf
  infra/modules/openstack/fcos-prod/modules/services/templates/swag.service
  infra/modules/openstack/fcos-prod/modules/services/variables.tf
  infra/modules/openstack/fcos-prod/outputs.tf
  infra/modules/openstack/fcos-prod/variables.tf
Due: terraform:init, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(infra): prod reverse proxy configuration
  infra/modules/openstack/fcos-prod/modules/services/templates/swag.service
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

Revert "fix(infra): prod reverse proxy configuration"
  infra/modules/openstack/fcos-prod/modules/services/templates/swag.service
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

Revert "feat(infra): implement local DNS in prod"
  docs/getting-started/cicd-configuration.md
  docs/getting-started/deploy-openstack.md
  docs/getting-started/prerequisites.md
  infra/envs/prod/compute.tf
  infra/envs/prod/dns.tf
  infra/envs/prod/variables.tf
  infra/modules/openstack/fcos-prod/compute.tf
  infra/modules/openstack/fcos-prod/ignition.tf
  infra/modules/openstack/fcos-prod/modules/services/files/swag.service
  infra/modules/openstack/fcos-prod/modules/services/swag.tf
  infra/modules/openstack/fcos-prod/modules/services/variables.tf
  infra/modules/openstack/fcos-prod/outputs.tf
  infra/modules/openstack/fcos-prod/variables.tf
Due: terraform:init, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(prod): set environment in Restic service file
  infra/modules/openstack/fcos-prod/modules/backups/files/restic.service
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(prod): populate '/etc/environment' again
  infra/modules/openstack/fcos-prod/modules/backups/files/restic.service
  infra/modules/openstack/fcos-prod/modules/backups/restic.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(prod): add environment file to ignition
  infra/modules/openstack/fcos-prod/modules/backups/outputs.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

feat(infra): reimplement DNS in prod
  docs/getting-started/cicd-configuration.md
  docs/getting-started/deploy-openstack.md
  docs/getting-started/prerequisites.md
  infra/envs/prod/compute.tf
  infra/envs/prod/dns.tf
  infra/envs/prod/variables.tf
  infra/modules/openstack/fcos-mediasrv/compute.tf
  infra/modules/openstack/fcos-mediasrv/ignition.tf
  infra/modules/openstack/fcos-mediasrv/modules/backups/files/backup.sh
  infra/modules/openstack/fcos-mediasrv/modules/services/cloudflared.tf
  infra/modules/openstack/fcos-mediasrv/modules/services/files/cloudflared.service
  infra/modules/openstack/fcos-mediasrv/modules/services/files/hass.service
  infra/modules/openstack/fcos-mediasrv/modules/services/files/jellyfin.service
  infra/modules/openstack/fcos-mediasrv/modules/services/files/jellyseerr.service
  infra/modules/openstack/fcos-mediasrv/modules/services/files/mosquitto.service
  infra/modules/openstack/fcos-mediasrv/modules/services/files/nzbget.service
  infra/modules/openstack/fcos-mediasrv/modules/services/files/podman-networks.service
  infra/modules/openstack/fcos-mediasrv/modules/services/files/prowlarr.service
  infra/modules/openstack/fcos-mediasrv/modules/services/files/radarr.service
  infra/modules/openstack/fcos-mediasrv/modules/services/files/sonarr.service
  infra/modules/openstack/fcos-mediasrv/modules/services/networks.tf
  infra/modules/openstack/fcos-mediasrv/modules/services/outputs.tf
  infra/modules/openstack/fcos-mediasrv/modules/services/swag.tf
  infra/modules/openstack/fcos-mediasrv/modules/services/templates/swag.service
  infra/modules/openstack/fcos-mediasrv/modules/services/variables.tf
  infra/modules/openstack/fcos-mediasrv/outputs.tf
  infra/modules/openstack/fcos-mediasrv/secgroups.tf
  infra/modules/openstack/fcos-mediasrv/variables.tf
Due: terraform:init, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

chore(prod): increase media volume size
  infra/envs/prod/storage.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(prod): allow DNS across multiple environments
  infra/envs/prod/compute.tf
  infra/envs/prod/dns.tf
  infra/envs/prod/variables.tf
  infra/modules/openstack/fcos-mediasrv/ignition.tf
  infra/modules/openstack/fcos-mediasrv/modules/services/swag.tf
  infra/modules/openstack/fcos-mediasrv/modules/services/templates/swag.service
  infra/modules/openstack/fcos-mediasrv/modules/services/variables.tf
  infra/modules/openstack/fcos-mediasrv/variables.tf
  metal/roles/openstack/designate/defaults/main.yml
  metal/roles/openstack/designate/tasks/main.yml
  metal/roles/openstack/designate/vars/main.yml
  metal/vars/main.yml
Due: terraform:init, ansible-lint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(metal): assign project admin role to admin user
  metal/roles/openstack/defaults/defaults/main.yml
  metal/roles/openstack/defaults/tasks/networks.yml
  metal/roles/openstack/defaults/tasks/projects.yml
  metal/roles/openstack/defaults/vars/main.yml
Due: ansible-lint

ci(staging): add changes rule to destroy job
  .gitlab-ci.yml
Due: terraform:init, kube-linter, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(metal): resolve designate role errors
  metal/roles/openstack/designate/tasks/main.yml
  metal/roles/openstack/designate/vars/main.yml
  metal/roles/rhel9/kickstart/vars/main.yml
  metal/tests/deployment/.terraform.lock.hcl
  metal/tests/deployment/ansible.tf
  metal/tests/deployment/providers.tf
  metal/vars/main.yml
Due: ansible-lint

fix(prod): various improvements to DNS
  docs/getting-started/cicd-configuration.md
  docs/getting-started/deploy-openstack.md
  infra/envs/prod/compute.tf
  infra/envs/prod/dns.tf
  infra/envs/prod/variables.tf
  infra/modules/openstack/fcos-mediasrv/modules/services/swag.tf
  infra/modules/openstack/fcos-mediasrv/modules/services/templates/swag.service
  metal/roles/openstack/designate/defaults/main.yml
  metal/roles/openstack/designate/tasks/main.yml
  metal/roles/openstack/designate/vars/main.yml
  metal/vars/main.yml
Due: terraform:init, ansible-lint, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

feat(k8s): drop static IP and configure DNS
  Makefile
  cluster/apps/media-server/jellyfin/ingress.yaml
  cluster/apps/media-server/jellyseerr/ingress.yaml
  cluster/apps/media-server/nzbget/ingress.yaml
  cluster/apps/media-server/prowlarr/ingress.yaml
  cluster/apps/media-server/radarr/ingress.yaml
  cluster/apps/media-server/sonarr/ingress.yaml
  cluster/apps/smart-home/hass/ingress.yaml
  cluster/apps/smart-home/mosquitto/ingress.yaml
  cluster/platform/vault/vault.yaml
  cluster/system/external-dns/kustomization.yaml
  cluster/system/external-dns/namespace.yaml
  cluster/system/external-dns/release.yaml
  cluster/system/external-dns/repository.yaml
  cluster/system/flux-sync/apps/media-server.yaml
  cluster/system/flux-sync/apps/smart-home.yaml
  cluster/system/flux-sync/system/external-dns.yaml
  cluster/system/flux-sync/system/kustomization.yaml
  cluster/system/ingress-nginx/release.yaml
  infra/envs/dev/cluster.tf
  infra/envs/dev/dns.tf
  infra/envs/dev/identity.tf
  infra/envs/dev/variables.tf
Due: terraform:init, kube-linter, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

feat(k8s): update cluster to v1.26.8
  Makefile
  cluster/system/descheduler/release.yaml
  cluster/system/flux-sync/system/descheduler.yaml
  infra/envs/dev/cluster.tf
  infra/envs/dev/main.tf
  infra/modules/openstack/k8s-cluster/cluster.tf
  infra/modules/openstack/k8s-cluster/modules/flux/install.tf
  infra/modules/openstack/k8s-cluster/modules/flux/sync.tf
  infra/modules/openstack/k8s-cluster/template.tf
Due: terraform:init, kube-linter, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

feat(k8s): implement volume backups
  cluster/apps/media-server/jellyfin/secrets.yaml
  cluster/apps/media-server/jellyfin/storage.yaml
  cluster/apps/smart-home/hass/configmap.yaml
  cluster/apps/smart-home/hass/kustomization.yaml
  cluster/apps/smart-home/hass/secrets.yaml
  cluster/apps/smart-home/hass/statefulset.yaml
  cluster/apps/smart-home/hass/storage.yaml
  cluster/platform/postgres/mediadb.yaml
  cluster/system/csi-cinder/crds.yaml
  cluster/system/csi-cinder/kustomization.yaml
  cluster/system/csi-cinder/snapshot-controller-install.yaml
  cluster/system/csi-cinder/snapshot-controller-rbac.yaml
  cluster/system/csi-cinder/snapshotclasses.yaml
  cluster/system/flux-sync/apps/media-server.yaml
  cluster/system/flux-sync/apps/smart-home.yaml
  cluster/system/flux-sync/platform/postgres.yaml
  cluster/system/flux-sync/system/kustomization.yaml
  cluster/system/flux-sync/system/volsync.yaml
  cluster/system/volsync/kustomization.yaml
  cluster/system/volsync/namespace.yaml
  cluster/system/volsync/release.yaml
  cluster/system/volsync/repository.yaml
  infra/envs/dev/cluster.tf
  infra/envs/dev/variables.tf
  infra/modules/gcp/bucket/outputs.tf
  metal/roles/openstack/defaults/tasks/projects.yml
Due: terraform:init, ansible-lint, kube-linter, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

chore(metal): modularize 'kolla-deploy' role
  metal/10-deploy-openstack.yml
  metal/roles/openstack/bootstrap_host/defaults/main.yml
  metal/roles/openstack/bootstrap_host/files/ansible.cfg
  metal/roles/openstack/bootstrap_host/handlers/bootstrap.yml
  metal/roles/openstack/bootstrap_host/handlers/main.yml
  metal/roles/openstack/bootstrap_host/tasks/ci-pipeline.yml
  metal/roles/openstack/bootstrap_host/tasks/files.yml
  metal/roles/openstack/bootstrap_host/tasks/main.yml
  metal/roles/openstack/bootstrap_host/tasks/octavia.yml
  metal/roles/openstack/bootstrap_host/tasks/packages.yml
  metal/roles/openstack/bootstrap_host/vars/main.yml
  metal/roles/openstack/deploy_kolla/defaults/main.yml
  metal/roles/openstack/deploy_kolla/files/ansible.cfg
  metal/roles/openstack/deploy_kolla/handlers/kolla-deploy.yml
  metal/roles/openstack/deploy_kolla/handlers/main.yml
  metal/roles/openstack/deploy_kolla/handlers/post-deploy.yml
  metal/roles/openstack/deploy_kolla/tasks/main.yml
  metal/roles/openstack/deploy_kolla/vars/main.yml
  metal/roles/openstack/kolla-deploy/handlers/main.yml
  metal/roles/openstack/kolla-deploy/handlers/octavia/pre-deploy.yml
  metal/roles/openstack/nova/handlers/main.yml
  metal/roles/openstack/nova/tasks/main.yml
  metal/roles/openstack/octavia/handlers/image.yml
  metal/roles/openstack/octavia/handlers/main.yml
  metal/roles/openstack/octavia/tasks/main.yml
Due: ansible-lint

feat(metal): deploy object storage
  docs/getting-started/deploy-openstack.md
  metal/10-deploy-openstack.yml
  metal/roles/openstack/bootstrap_host/handlers/main.yml
  metal/roles/openstack/bootstrap_host/tasks/files.yml
  metal/roles/openstack/deploy_kolla/tasks/main.yml
  metal/roles/openstack/swift/defaults/main.yml
  metal/roles/openstack/swift/handlers/account_ring.yml
  metal/roles/openstack/swift/handlers/container_ring.yml
  metal/roles/openstack/swift/handlers/main.yml
  metal/roles/openstack/swift/handlers/object_ring.yml
  metal/roles/openstack/swift/tasks/main.yml
  metal/roles/openstack/swift/vars/main.yml
  metal/roles/rhel9/kickstart/vars/main.yml
  metal/tests/deployment/compute.tf
  metal/tests/function/designate.tf
  metal/tests/function/glance.tf
  metal/tests/function/main.tf
  metal/tests/function/nova.tf
  metal/tests/function/swift.tf
  metal/vars/globals.yml
  metal/vars/main.yml
Due: ansible-lint, markdownlint

fix(metal): provision Swift storage by device IDs
  docs/getting-started/deploy-openstack.md
  metal/roles/openstack/swift/defaults/main.yml
  metal/roles/openstack/swift/tasks/main.yml
  metal/roles/openstack/swift/vars/main.yml
  metal/vars/main.yml
Due: ansible-lint, markdownlint

refactor(metal): improve block storage provisioning
  docs/getting-started/deploy-openstack.md
  docs/getting-started/prerequisites.md
  metal/roles/openstack/bootstrap_host/tasks/ci-pipeline.yml
  metal/roles/openstack/bootstrap_host/tasks/main.yml
  metal/roles/openstack/bootstrap_host/tasks/packages.yml
  metal/roles/openstack/bootstrap_host/tasks/storage.yml
  metal/roles/openstack/bootstrap_host/vars/main.yml
  metal/roles/openstack/cinder/defaults/main.yml
  metal/roles/openstack/cinder/tasks/backends.yml
  metal/roles/openstack/cinder/tasks/main.yml
  metal/roles/openstack/cinder/vars/main.yml
  metal/roles/openstack/defaults/tasks/flavors.yml
  metal/roles/openstack/nova/defaults/main.yml
  metal/roles/openstack/nova/handlers/main.yml
  metal/roles/openstack/nova/tasks/main.yml
  metal/roles/rhel9/kickstart/templates/ks.cfg.j2
  metal/roles/rhel9/kickstart/vars/main.yml
  metal/tests/deployment/compute.tf
  metal/tests/function/nova.tf
  metal/vars/main.yml
Due: ansible-lint, markdownlint

docs: update for v2.1
  .markdownlint.yaml
  .mkdocs.yml
  docs/environments/development.md
  docs/environments/kubernetes.md
  docs/environments/production.md
  docs/features.md
  docs/getting-started/deploy-openstack.md
  docs/getting-started/prerequisites.md
Due: markdownlint

fix(prod): use volume for FCOS root disk
  infra/modules/openstack/fcos-mediasrv/compute.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(metal): openstack deployment issues
  metal/roles/openstack/cinder/handlers/main.yml
  metal/roles/openstack/cinder/handlers/restart-containers.yml
  metal/roles/openstack/swift/tasks/main.yml
  metal/roles/rhel9/kickstart/templates/ks.cfg.j2
Due: ansible-lint

fix(metal): correct ordering of fqdn variables
  metal/roles/rhel9/kickstart/vars/main.yml
Due: ansible-lint

fix(infra): use PREMIUM volume type for app data
  infra/envs/prod/storage.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

docs(cinder): add troubleshooting page
  .markdownlint.yaml
  .mkdocs.yml
  docs/managing-openstack/cinder/troubleshooting.md
Due: markdownlint

fix(infra): disable automatic backups in staging
  infra/modules/openstack/fcos-mediasrv/ignition.tf
  infra/modules/openstack/fcos-mediasrv/modules/backups/restic.tf
  infra/modules/openstack/fcos-mediasrv/modules/backups/variables.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(prod): resolve minor issues with backup script
  infra/modules/openstack/fcos-mediasrv/modules/backups/files/backup.sh
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

Path conditions:
  terraform:init: any of: .gitlab-ci.yml, infra/**/*
  ansible-lint: any of: metal/**/*
  kube-linter: any of: .gitlab-ci.yml, .kube-linter.yml, cluster/**/*
  markdownlint: any of: .gitlab-ci.yml, **/*.md
  terraform:validate: any of: .gitlab-ci.yml, infra/**/*
  terraform:plan: any of: .gitlab-ci.yml, infra/**/*
  terraform:get_plan: any of: .gitlab-ci.yml, infra/**/*
  terraform:apply: any of: .gitlab-ci.yml, infra/**/*
