Repository ralgar/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: terraform:init, ansible-lint, kube-linter, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

terraform:init:
  stage: prepare
  image: registry.gitlab.com/gitlab-org/terraform-images/releases/terraform:1.2.6
  script:
  - cd ${TF_ROOT}
  - gitlab-terraform init

ansible-lint:
  stage: lint
  image: registry.gitlab.com/pipeline-components/ansible-lint:latest
  script:
  - ansible-lint --show-relpath metal

kube-linter:
  stage: lint
  image:
    name: docker.io/stackrox/kube-linter:v0.6.5-alpine
    entrypoint:
    - ''
  script:
  - /kube-linter lint cluster

markdownlint:
  stage: lint
  image:
    name: ghcr.io/igorshubovych/markdownlint-cli:v0.38.0
    entrypoint:
    - ''
  script:
  - markdownlint "**/*.md"

terraform:validate:
  stage: lint
  image: registry.gitlab.com/gitlab-org/terraform-images/releases/terraform:1.2.6
  script:
  - cd ${TF_ROOT}
  - gitlab-terraform validate

terraform:plan:
  stage: build
  image: registry.gitlab.com/gitlab-org/terraform-images/releases/terraform:1.2.6
  environment:
    name: ${ENVIRONMENT}
    action: prepare
  script:
  - cd ${TF_ROOT}
  - gitlab-terraform plan -var openstack_clouds_file=${OS_CLOUDS} -var-file=${TF_VARS_FILE}
  - gitlab-terraform plan-json
  ...

terraform:get_plan:
  stage: build
  image: registry.gitlab.com/gitlab-org/terraform-images/releases/terraform:1.2.6
  variables:
    PROJECT_API_URL: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}
    TF_PLAN_PATH: infra/envs/${ENVIRONMENT}/plan.cache
  script:
  - cd ${TF_ROOT}
  - MR="$(printf "$CI_COMMIT_DESCRIPTION" | grep 'MR:')"
  ...

terraform:apply:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/terraform-images/releases/terraform:1.2.6
  environment:
    name: ${ENVIRONMENT}
    action: start
    on_stop: terraform:destroy
    auto_stop_in: ${AUTO_STOP_IN}
  script:
  - cd ${TF_ROOT}
  - gitlab-terraform apply

fix(prod): ensure required directories exist for first boot
  infra/modules/openstack/fcos-mediasrv/modules/services/files/mosquitto.service
  infra/modules/openstack/fcos-mediasrv/modules/services/jellyfin.tf
  infra/modules/openstack/fcos-mediasrv/modules/services/nzbget.tf
  infra/modules/openstack/fcos-mediasrv/modules/services/outputs.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(fcos): set a proper hostname
  infra/modules/openstack/fcos-mediasrv/ignition.tf
  infra/modules/openstack/fcos-mediasrv/modules/config/hostname.tf
  infra/modules/openstack/fcos-mediasrv/modules/config/outputs.tf
  infra/modules/openstack/fcos-mediasrv/modules/config/variables.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

refactor(fcos): improve backup/restore
  docs/environments/production.md
  infra/modules/openstack/fcos-mediasrv/modules/backups/files/backup.sh
  infra/modules/openstack/fcos-mediasrv/modules/backups/files/backupctl.sh
  infra/modules/openstack/fcos-mediasrv/modules/backups/files/restic.service
  infra/modules/openstack/fcos-mediasrv/modules/backups/restic.tf
  infra/modules/openstack/fcos-mediasrv/modules/services/files/mosquitto.service
Due: terraform:init, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

chore(prod): increase media volume size
  infra/envs/prod/storage.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

chore(prod): migrate to sabnzbd
  infra/modules/openstack/fcos-mediasrv/modules/services/files/sabnzbd.service
  infra/modules/openstack/fcos-mediasrv/modules/services/outputs.tf
  infra/modules/openstack/fcos-mediasrv/modules/services/sabnzbd.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

docs: migrate to SABnzbd and fix inconsistencies
  docs/environments/production.md
  docs/getting-started/deploy-openstack.md
Due: markdownlint

fix(metal): swift s3token incorrect auth_uri
  metal/10-deploy-openstack.yml
  metal/roles/openstack/fixes/tasks/main.yml
  metal/roles/openstack/fixes/tasks/swift.yml
Due: ansible-lint

fix(metal): Octavia deployment regression
  metal/10-deploy-openstack.yml
  metal/roles/openstack/cinder/tasks/main.yml
  metal/roles/openstack/octavia/defaults/main.yml
  metal/roles/openstack/octavia/handlers/image.yml
  metal/roles/openstack/octavia/handlers/main.yml
  metal/roles/openstack/octavia/tasks/main.yml
  metal/vars/globals.yml
Due: ansible-lint

fix(infra): use volume for k8s boot disk
  infra/modules/openstack/k8s-cluster/template.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

chore(dev): migrate to SABnzbd
  cluster/apps/media-server/kustomization.yaml
  cluster/apps/media-server/nzbget/configmap.yaml
  cluster/apps/media-server/nzbget/secrets.yaml
  cluster/apps/media-server/radarr/configmap.yaml
  cluster/apps/media-server/radarr/secrets.yaml
  cluster/apps/media-server/sabnzbd/configmap.yaml
  cluster/apps/media-server/sabnzbd/ingress.yaml
  cluster/apps/media-server/sabnzbd/kustomization.yaml
  cluster/apps/media-server/sabnzbd/secrets.yaml
  cluster/apps/media-server/sabnzbd/statefulset.yaml
  cluster/apps/media-server/sabnzbd/storage.yaml
  cluster/apps/media-server/sonarr/configmap.yaml
  cluster/apps/media-server/sonarr/secrets.yaml
  cluster/platform/vault/generate-secrets.yaml
Due: kube-linter

fix(metal): workaround magnum regression
  metal/roles/openstack/bootstrap_host/tasks/fixes.yml
  metal/roles/openstack/bootstrap_host/tasks/main.yml
Due: ansible-lint

fix(swift): add role and module
  infra/modules/openstack/object-container/.terraform.lock.hcl
  infra/modules/openstack/object-container/iam.tf
  infra/modules/openstack/object-container/main.tf
  infra/modules/openstack/object-container/outputs.tf
  infra/modules/openstack/object-container/providers.tf
  infra/modules/openstack/object-container/storage.tf
  infra/modules/openstack/object-container/variables.tf
  metal/roles/openstack/fixes/defaults/main.yml
  metal/roles/openstack/fixes/tasks/main.yml
  metal/roles/openstack/fixes/tasks/swift.yml
Due: terraform:init, ansible-lint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(docs): move mkdocs config file
  .gitlab-ci.yml
  .gitlab/templates/build-docs.yml
  Makefile
  docs/mkdocs.yml
Due: terraform:init, kube-linter, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

ci(mkdocs): fix paths for build
  .gitlab/templates/build-docs.yml
  README.md
  docs/mkdocs.yml
Due: markdownlint

ci(docs): fix mkdocs build and rules
  .gitlab/templates/build-docs.yml
  docs/environments/development.md
  docs/environments/production.md
Due: markdownlint

fix(infra): clean up 'openstack/object-container' module
  infra/modules/openstack/object-container/.terraform.lock.hcl
  infra/modules/openstack/object-container/main.tf
  infra/modules/openstack/object-container/providers.tf
  infra/modules/openstack/object-container/variables.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(*): migrate to using public FCOS images
  Makefile
  infra/envs/dev/cluster.tf
  infra/envs/dev/main.tf
  infra/envs/prod/compute.tf
  infra/envs/prod/main.tf
  infra/modules/openstack/fcos-mediasrv/compute.tf
  infra/modules/openstack/fcos-mediasrv/variables.tf
  infra/modules/openstack/k8s-cluster/template.tf
  infra/modules/openstack/k8s-cluster/variables.tf
  metal/roles/openstack/defaults/defaults/main.yml
  metal/roles/openstack/defaults/tasks/images.yml
  metal/roles/openstack/defaults/tasks/main.yml
Due: terraform:init, ansible-lint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

refactor(*): k8s module and template
  Makefile
  infra/envs/dev/cluster.tf
  infra/envs/dev/networks.tf
  infra/envs/dev/outputs.tf
  infra/envs/dev/providers.tf
  infra/envs/dev/storage.tf
  infra/modules/kubernetes/flux/install.tf
  infra/modules/kubernetes/flux/sync.tf
  infra/modules/kubernetes/flux/templates/install-values.yaml
  infra/modules/kubernetes/flux/templates/sync-values.yaml
  infra/modules/kubernetes/flux/variables.tf
  infra/modules/kubernetes/flux/versions.tf
  infra/modules/openstack/k8s-cluster/bootstrap.tf
  infra/modules/openstack/k8s-cluster/cluster.tf
  infra/modules/openstack/k8s-cluster/providers.tf
  infra/modules/openstack/k8s-cluster/template.tf
  infra/modules/openstack/k8s-cluster/variables.tf
  metal/roles/openstack/defaults/tasks/coe_templates.yml
  metal/roles/openstack/defaults/tasks/main.yml
Due: terraform:init, ansible-lint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(metal): increase size of '/var` filesystem
  metal/roles/rhel9/kickstart/templates/ks.cfg.j2
Due: ansible-lint

fix(cluster): add missing volsync dep for smart-home
  cluster/system/flux-sync/apps/smart-home.yaml
Due: kube-linter

fix(cluster): migrate Crunchy PGO to Helm installation
  cluster/apps/media-server/database.yaml
  cluster/apps/media-server/kustomization.yaml
  cluster/apps/smart-home/database.yaml
  cluster/apps/smart-home/kustomization.yaml
  cluster/platform/postgres/crunchy-pgo.yaml
  cluster/platform/postgres/hassdb.yaml
  cluster/platform/postgres/kustomization.yaml
  cluster/platform/postgres/namespace.yaml
  cluster/system/flux-sync/apps/media-server.yaml
  cluster/system/flux-sync/apps/smart-home.yaml
  cluster/system/flux-sync/platform/postgres.yaml
  cluster/system/flux-sync/system/kustomization.yaml
  cluster/system/flux-sync/system/olm.yaml
  cluster/system/olm/crds.yaml
  cluster/system/olm/kustomization.yaml
  cluster/system/olm/olm.yaml
  cluster/system/operators/postgres.yaml
  infra/modules/kubernetes/flux/install.tf
Due: terraform:init, kube-linter, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(build): update gitops module addresses in Makefile
  Makefile
Due: none

refactor(metal): use pre-built image for Amphora
  metal/roles/openstack/bootstrap_host/handlers/main.yml
  metal/roles/openstack/bootstrap_host/tasks/main.yml
  metal/roles/openstack/bootstrap_host/tasks/octavia-certs.yml
  metal/roles/openstack/bootstrap_host/tasks/octavia.yml
  metal/roles/openstack/bootstrap_host/tasks/packages.yml
  metal/roles/openstack/octavia/defaults/main.yml
  metal/roles/openstack/octavia/handlers/main.yml
  metal/roles/openstack/octavia/tasks/amphora-image.yml
  metal/roles/openstack/octavia/tasks/main.yml
Due: ansible-lint

fix(dev): rollback Flux to v2.2.3
  cluster/platform/postgres/crunchy-pgo.yaml
  infra/modules/kubernetes/flux/install.tf
Due: terraform:init, kube-linter, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(cluster): add dependency between DBs and apps
  cluster/apps/databases/kustomization.yaml
  cluster/apps/databases/media-server.yaml
  cluster/apps/databases/smart-home.yaml
  cluster/apps/media-server/kustomization.yaml
  cluster/apps/media-server/namespace.yaml
  cluster/apps/smart-home/kustomization.yaml
  cluster/apps/smart-home/namespace.yaml
  cluster/platform/postgres-operator/crunchy-pgo.yaml
  cluster/platform/postgres-operator/kustomization.yaml
  cluster/platform/postgres-operator/namespace.yaml
  cluster/system/flux-sync/apps/databases.yaml
  cluster/system/flux-sync/apps/media-server.yaml
  cluster/system/flux-sync/platform/kustomization.yaml
  cluster/system/flux-sync/platform/postgres-operator.yaml
Due: kube-linter

refactor(metal): encapsulate storage configuration
  metal/10-deploy-openstack.yml
  metal/roles/openstack/bootstrap_host/tasks/ci-pipeline.yml
  metal/roles/openstack/bootstrap_host/tasks/main.yml
  metal/roles/openstack/bootstrap_host/vars/main.yml
  metal/roles/openstack/configure_storage/defaults/main.yml
  metal/roles/openstack/configure_storage/handlers/account_ring.yml
  metal/roles/openstack/configure_storage/handlers/container_ring.yml
  metal/roles/openstack/configure_storage/handlers/main.yml
  metal/roles/openstack/configure_storage/handlers/object_ring.yml
  metal/roles/openstack/configure_storage/tasks/cinder.yml
  metal/roles/openstack/configure_storage/tasks/main.yml
  metal/roles/openstack/configure_storage/tasks/swift.yml
  metal/roles/openstack/configure_storage/vars/main.yml
Due: ansible-lint

feat(metal): deploy Manila service
  metal/10-deploy-openstack.yml
  metal/roles/openstack/bootstrap_host/tasks/packages.yml
  metal/roles/openstack/cinder/tasks/main.yml
  metal/roles/openstack/manila/defaults/main.yml
  metal/roles/openstack/manila/handlers/main.yml
  metal/roles/openstack/manila/tasks/main.yml
  metal/roles/openstack/nova/tasks/main.yml
  metal/tests/function/manila.tf
  metal/tests/function/neutron.tf
  metal/vars/globals.yml
Due: ansible-lint

feat(metal): deploy Barbican service
  metal/roles/openstack/cinder/defaults/main.yml
  metal/roles/openstack/cinder/tasks/main.yml
  metal/roles/openstack/cinder/tasks/service-config.yml
  metal/roles/openstack/cinder/templates/cinder-api.conf.j2
  metal/roles/openstack/cinder/templates/cinder.conf.j2
  metal/roles/openstack/nova/defaults/main.yml
  metal/roles/openstack/nova/handlers/main.yml
  metal/roles/openstack/nova/tasks/main.yml
  metal/roles/openstack/nova/templates/nova-compute.conf.j2
  metal/vars/globals.yml
Due: ansible-lint

chore(metal): remove patched s3api fix
  metal/10-deploy-openstack.yml
  metal/roles/openstack/fixes/defaults/main.yml
  metal/roles/openstack/fixes/tasks/main.yml
  metal/roles/openstack/fixes/tasks/swift.yml
Due: ansible-lint

feat(metal): configure the root account's shell
  metal/roles/openstack/deploy_kolla/handlers/post-deploy.yml
Due: ansible-lint

feat(infra): deploy and configure agentk
  .gitlab/agents/cluster1/config.yaml
  infra/envs/dev/.terraform.lock.hcl
  infra/envs/dev/cluster.tf
  infra/envs/dev/providers.tf
  infra/envs/dev/variables.tf
  infra/modules/kubernetes/gitlab-agent/gitlab-agent.tf
  infra/modules/kubernetes/gitlab-agent/providers.tf
  infra/modules/kubernetes/gitlab-agent/variables.tf
Due: terraform:init, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(*): a couple of minor K8s-related things
  cluster/platform/postgres-operator/crunchy-pgo.yaml
  infra/envs/dev/cluster.tf
  infra/modules/kubernetes/gitlab-agent/gitlab-agent.tf
  infra/modules/kubernetes/gitlab-agent/variables.tf
Due: terraform:init, kube-linter, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

docs(*): only build and deploy on tags
  .gitlab/templates/build-docs.yml
  docs/content/environments/development.md
  docs/content/environments/production.md
  docs/content/features.md
  docs/content/getting-started/assets/poweredge_t420.png
  docs/content/getting-started/cicd-configuration.md
  docs/content/getting-started/deploy-openstack.md
  docs/content/getting-started/prerequisites.md
  docs/content/index.md
  docs/content/managing-openstack/cinder/import-export-volumes.md
  docs/content/managing-openstack/cinder/troubleshooting.md
  docs/content/reference/license.md
  docs/mkdocs.yml
Due: markdownlint

refactor(metal): improve networking capabilities and config
  docs/content/getting-started/deploy-openstack.md
  infra/envs/prod/compute.tf
  infra/envs/prod/main.tf
  metal/00-make-kickstart-iso.yml
  metal/10-deploy-openstack.yml
  metal/roles/openstack/bootstrap_host/defaults/main.yml
  metal/roles/openstack/bootstrap_host/tasks/files.yml
  metal/roles/openstack/bootstrap_host/tasks/main.yml
  metal/roles/openstack/bootstrap_host/templates/globals.yml.j2
  metal/roles/openstack/bootstrap_host/vars/main.yml
  metal/roles/openstack/defaults/defaults/main.yml
  metal/roles/openstack/defaults/handlers/main.yml
  metal/roles/openstack/defaults/tasks/coe_templates.yml
  metal/roles/openstack/defaults/tasks/networks.yml
  metal/roles/openstack/defaults/vars/main.yml
  metal/roles/openstack/deploy_kolla/defaults/main.yml
  metal/roles/openstack/deploy_kolla/vars/main.yml
  metal/roles/openstack/designate/tasks/create-records.yml
  metal/roles/openstack/designate/tasks/enable-recursion.yml
  metal/roles/openstack/designate/tasks/main.yml
  metal/roles/openstack/designate/vars/main.yml
  metal/roles/rhel9/kickstart/vars/main.yml
  metal/vars/main.yml
Due: terraform:init, ansible-lint, markdownlint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(metal): improve DMZ configuration
  infra/envs/prod/.terraform.lock.hcl
  infra/envs/prod/compute.tf
  infra/envs/prod/main.tf
  infra/envs/prod/providers.tf
  infra/modules/ignition/base/network.tf
  infra/modules/ignition/base/output.tf
  infra/modules/ignition/base/templates/ens3.nmconnection
  infra/modules/ignition/base/variables.tf
  infra/modules/openstack/fcos-mediasrv/compute.tf
  infra/modules/openstack/fcos-mediasrv/ignition.tf
  infra/modules/openstack/fcos-mediasrv/network.tf
  metal/roles/openstack/defaults/handlers/main.yml
  metal/roles/openstack/defaults/tasks/coe_templates.yml
  metal/roles/openstack/defaults/tasks/networks.yml
  metal/roles/openstack/defaults/templates/neutron.ml2_conf.ini.j2
  metal/vars/main.yml
Due: terraform:init, ansible-lint, terraform:validate, terraform:plan, terraform:get_plan, terraform:apply

fix(readme): update link and define semver badge color
  README.md
Due: markdownlint

docs(getting-started): fix DNS terminology and add note about using tags
  docs/content/getting-started/prerequisites.md
Due: markdownlint

docs(features): add Manila to OpenStack features list
  docs/content/features.md
Due: markdownlint

feat(templates): add Windows Server 2019 builds
  docs/content/features.md
  docs/content/getting-started/prerequisites.md
  docs/content/getting-started/windows-images.md
  docs/mkdocs.yml
  templates/.gitignore
  templates/answer_files/2019_core/autounattend.xml
  templates/answer_files/2019_desktop/autounattend.xml
  templates/iso/.gitinclude
  templates/playbooks/windows-server.yml
  templates/providers.pkr.hcl
  templates/scripts/powershell/enable-ssh.ps1
  templates/variables.auto.pkrvars.hcl
  templates/variables.common.pkr.hcl
  templates/windows-2019-core.pkr.hcl
  templates/windows-2019-desktop.pkr.hcl
  templates/windows-common.pkr.hcl
Due: markdownlint

Path conditions:
  terraform:init: any of: .gitlab-ci.yml, infra/**/*
  ansible-lint: any of: metal/**/*
  kube-linter: any of: .gitlab-ci.yml, .kube-linter.yml, cluster/**/*
  markdownlint: any of: .gitlab-ci.yml, **/*.md
  terraform:validate: any of: .gitlab-ci.yml, infra/**/*
  terraform:plan: any of: .gitlab-ci.yml, infra/**/*
  terraform:get_plan: any of: .gitlab-ci.yml, infra/**/*
  terraform:apply: any of: .gitlab-ci.yml, infra/**/*
