Repository ralgar/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kube-linter, markdownlint, pages, ansible-lint, renovate-validate, packer:validate

.gitlab/ci/clusters.yml:

---
kube-linter:
  stage: validate
  image:
    name: docker.io/stackrox/kube-linter:v0.6.5-alpine
    entrypoint: [""]
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - .gitlab/ci/cluster.yml
        - .kube-linter.yml
        - cluster/**/*
  script:
    - /kube-linter lint cluster

.gitlab/ci/docs.yml:

---
markdownlint:
  stage: lint
  image:
    name: ghcr.io/igorshubovych/markdownlint-cli:v0.38.0
    entrypoint: [""]
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - .gitlab/ci/docs.yml
        - "**/*.md"
  script:
    - markdownlint "**/*.md"

# Deploy to GitLab Pages using mkdocs
pages:
  stage: build
  image:
    name: docker.io/squidfunk/mkdocs-material:9
    entrypoint: [""]
  rules:
    - if: $CI_COMMIT_TAG
      changes:
        - .gitlab/ci/docs.yml
        - docs/**/*
  script:
    - mkdocs build --config-file docs/mkdocs.yml --site-dir ${CI_PROJECT_DIR}/public
  artifacts:
    paths:
      - public

.gitlab/ci/metal.yml:

---
ansible-lint:
  stage: lint
  image: registry.gitlab.com/pipeline-components/ansible-lint:latest
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - metal/**/*
  script:
    - ansible-lint --show-relpath metal

.gitlab/ci/renovate.yml:

---
spec:
  inputs:
    version:
      description: Renovate version to run
      type: string
      default: '41'
---
renovate-validate:
  stage: validate
  image: docker.io/renovate/renovate:$[[ inputs.version ]]
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - .gitlab/renovate.json
        - .gitlab/ci/renovate.yml
  script:
    - renovate-config-validator

renovate:
  stage: renovate
  image: docker.io/renovate/renovate:$[[ inputs.version ]]
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: always
    - when: never
  variables:
    RENOVATE_PLATFORM: gitlab
    RENOVATE_ENDPOINT: "https://gitlab.com/api/v4"
    RENOVATE_REPOSITORIES: $CI_PROJECT_PATH
  script:
    - renovate

.gitlab/ci/templates.yml:

---
packer:validate:
  stage: validate
  image:
    name: docker.io/hashicorp/packer:1.14
    entrypoint: [""]
  variables:
    PACKER_PLUGIN_PATH: ${CI_PROJECT_DIR}/.packer/plugins
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - .gitlab/ci/templates.yml
        - templates/**/*
  before_script:
    - apk add ansible
  script:
    - cd templates
    - packer init .
    - packer validate .

.gitlab/templates/build-docs.yml:

# Deploy to GitLab Pages using mkdocs
---
pages:
  stage: build
  image:
    name: docker.io/squidfunk/mkdocs-material:9
    entrypoint: [""]
  rules:
    - if: $CI_COMMIT_TAG
      changes:
        - .gitlab-ci.yml
        - .gitlab/templates/build-docs.yml
        - docs/**/*
  script:
    - mkdocs build --config-file docs/mkdocs.yml --site-dir ${CI_PROJECT_DIR}/public
  artifacts:
    paths:
      - public

chore(deps): update docker.io/hashicorp/packer docker tag to v1.14
  .gitlab/ci/templates.yml
Due: packer:validate

chore(deps): update docker.io/stackrox/kube-linter docker tag to v0.7.4
  .gitlab/ci/clusters.yml
  cluster/utils/pgloader/job.yaml
Due: kube-linter

chore(deps): update helm release flux2-sync to v1.14.0
  infra/modules/kubernetes/flux/sync.tf
Due: none

ci(renovate): configure for k8s manifests
  .gitlab/renovate.json
Due: renovate-validate

chore(deps): update dependency clustersecretstore to external-secrets.io/v1
  cluster/platform/external-secrets/cluster-secret-store.yaml
Due: kube-linter

chore(deps): update dependency helmrepository to source.toolkit.fluxcd.io/v1
  cluster/platform/postgres-operator/crunchy-pgo.yaml
  cluster/system/descheduler/repository.yaml
  cluster/system/external-dns/repository.yaml
  cluster/system/ingress-nginx/repository.yaml
  cluster/system/kured/repository.yaml
  cluster/system/monitoring/kube-prometheus-stack/repository.yaml
  cluster/system/monitoring/loki-stack/repository.yaml
  cluster/system/volsync/repository.yaml
Due: kube-linter

chore(deps): update dependency helmrelease to helm.toolkit.fluxcd.io/v2
  cluster/platform/postgres-operator/crunchy-pgo.yaml
  cluster/system/descheduler/release.yaml
  cluster/system/external-dns/release.yaml
  cluster/system/ingress-nginx/release.yaml
  cluster/system/kured/release.yaml
  cluster/system/monitoring/kube-prometheus-stack/release.yaml
  cluster/system/monitoring/loki-stack/release.yaml
  cluster/system/volsync/release.yaml
Due: kube-linter

chore(deps): update dependency externalsecret to external-secrets.io/v1
  cluster/apps/media-server/jellyfin/secrets.yaml
  cluster/apps/media-server/jellyseerr/secrets.yaml
  cluster/apps/media-server/prowlarr/secrets.yaml
  cluster/apps/media-server/radarr/secrets.yaml
  cluster/apps/media-server/sabnzbd/secrets.yaml
  cluster/apps/media-server/sonarr/secrets.yaml
  cluster/platform/389ds/secrets.yaml
Due: kube-linter

chore(deps): update dependency kustomization to kustomize.toolkit.fluxcd.io/v1
  cluster/system/flux-sync/apps/databases.yaml
  cluster/system/flux-sync/apps/media-server.yaml
  cluster/system/flux-sync/apps/smart-home.yaml
  cluster/system/flux-sync/platform/389ds.yaml
  cluster/system/flux-sync/platform/external-secrets.yaml
  cluster/system/flux-sync/platform/postgres-operator.yaml
  cluster/system/flux-sync/platform/vault.yaml
  cluster/system/flux-sync/system/cert-manager.yaml
  cluster/system/flux-sync/system/csi-cinder.yaml
  cluster/system/flux-sync/system/descheduler.yaml
  cluster/system/flux-sync/system/external-dns.yaml
  cluster/system/flux-sync/system/ingress-nginx.yaml
  cluster/system/flux-sync/system/monitoring.yaml
  cluster/system/flux-sync/system/trust-manager.yaml
  cluster/system/flux-sync/system/volsync.yaml
Due: kube-linter

chore(cluster/apps): update container images to latest semver
  cluster/apps/media-server/prowlarr/deployment.yaml
  cluster/apps/media-server/radarr/deployment.yaml
  cluster/apps/media-server/sabnzbd/statefulset.yaml
  cluster/apps/media-server/sonarr/deployment.yaml
  cluster/apps/smart-home/hass/statefulset.yaml
  cluster/apps/smart-home/mosquitto/statefulset.yaml
Due: kube-linter

chore(deps): update docker.io/jellyfin/jellyfin docker tag to v10.10.7
  cluster/apps/media-server/jellyfin/statefulset.yaml
Due: kube-linter

chore(cluster/apps): update Jellyseerr container to latest semver
  cluster/apps/media-server/jellyseerr/deployment.yaml
Due: kube-linter

chore(deps): update ghcr.io/banzaicloud/vault-operator docker tag to v1.19.0
  cluster/platform/vault/operator.yaml
Due: kube-linter

chore(deps): update ghcr.io/external-secrets/external-secrets docker tag to v0.20.2
  cluster/platform/external-secrets/manifest.yaml
Due: kube-linter

chore(deps): update helm release descheduler to 0.33.x
  cluster/system/descheduler/release.yaml
Due: kube-linter

chore(deps): update helm release external-dns to 1.19.x
  cluster/system/external-dns/release.yaml
Due: kube-linter

chore(deps): update helm release loki-stack to v2.10.2
  cluster/system/monitoring/loki-stack/release.yaml
Due: kube-linter

chore(deps): update ghcr.io/external-secrets/external-secrets docker tag to v0.20.3
  cluster/platform/external-secrets/manifest.yaml
Due: kube-linter

refactor(ignition/backups): use machine FQDN for repo path
  infra/deployments/main/compute.tf
  infra/modules/ignition/backups/autorestic.tf
  infra/modules/ignition/backups/templates/autorestic.yml
  infra/modules/ignition/backups/variables.tf
Due: none

fix(infra/fcos): depend on container storage to avoid race condition
  infra/modules/openstack/fcos-instance/compute.tf
Due: none

fix(infra/main): wait when stopping containers.target
  infra/deployments/main/quadlets/hass.container
  infra/deployments/main/quadlets/jellyfin.container
  infra/deployments/main/quadlets/jellyseerr.container
  infra/deployments/main/quadlets/mosquitto.container
  infra/deployments/main/quadlets/prowlarr.container
  infra/deployments/main/quadlets/radarr.container
  infra/deployments/main/quadlets/sabnzbd.container
  infra/deployments/main/quadlets/sonarr.container
  infra/deployments/main/quadlets/swag.container
Due: none

chore(deps): update ghcr.io/home-operations/home-assistant docker tag to v2025.10.2
  cluster/apps/smart-home/hass/statefulset.yaml
Due: kube-linter

fix(infra/main): restore write permissions to transcode directory
  infra/deployments/main/quadlets/jellyfin.container
Due: none

chore(ci): update Terraform version
  .gitlab/ci/infra.yml
Due: none

chore(infra/fcos): cleaner ordering for containers.target and sub-units
  infra/deployments/main/quadlets/hass.container
  infra/deployments/main/quadlets/jellyfin.container
  infra/deployments/main/quadlets/jellyseerr.container
  infra/deployments/main/quadlets/mosquitto.container
  infra/deployments/main/quadlets/prowlarr.container
  infra/deployments/main/quadlets/radarr.container
  infra/deployments/main/quadlets/sabnzbd.container
  infra/deployments/main/quadlets/sonarr.container
  infra/deployments/main/quadlets/swag.container
  infra/modules/ignition/base/files/containers.target
  infra/modules/ignition/base/quadlets.tf
  infra/modules/ignition/base/templates/containers.target
Due: none

chore(infra): update terraform-provider-openstack to latest
  infra/deployments/admin/.terraform.lock.hcl
  infra/deployments/admin/providers.tf
  infra/deployments/main-k8s/.terraform.lock.hcl
  infra/deployments/main-k8s/providers.tf
  infra/deployments/main/providers.tf
Due: none

chore(infra/main): move transcodes directory out of library
  infra/deployments/main/quadlets/jellyfin.container
  infra/deployments/main/storage.tf
Due: none

fix(infra/flux): workaround hang on destroy
  infra/modules/kubernetes/flux/sync.tf
Due: none

feat(infra/admin): add Talos Linux image
  infra/deployments/admin/images/talos.tf
Due: none

chore(infra/main): restrict access to management ports
  docs/content/deployments/main.md
  infra/deployments/main/secgroups.tf
  infra/deployments/main/variables.tf
Due: markdownlint, pages

fix(infra/admin): make Talos image public
  infra/deployments/admin/images/talos.tf
Due: none

fix(infra/modules): idempotency with network and subnet tags
  infra/modules/openstack/network/network.tf
  infra/modules/openstack/network/variables.tf
Due: none

feat(infra/modules): add Talos Linux cluster module
  infra/modules/kubernetes/flux/versions.tf
  infra/modules/kubernetes/gitlab-agent/providers.tf
  infra/modules/openstack/talos-cluster/bootstrap.tf
  infra/modules/openstack/talos-cluster/files/cinder-csi-values.yaml
  infra/modules/openstack/talos-cluster/files/extra-manifests.yaml
  infra/modules/openstack/talos-cluster/files/kubelet-cert-rotation.yaml
  infra/modules/openstack/talos-cluster/files/pod-security.yaml
  infra/modules/openstack/talos-cluster/image.tf
  infra/modules/openstack/talos-cluster/nodes-controlplane.tf
  infra/modules/openstack/talos-cluster/nodes-workers.tf
  infra/modules/openstack/talos-cluster/outputs.tf
  infra/modules/openstack/talos-cluster/secgroup.tf
  infra/modules/openstack/talos-cluster/talos.tf
  infra/modules/openstack/talos-cluster/templates/controlplane-scheduling.yaml.tmpl
  infra/modules/openstack/talos-cluster/templates/inline-manifests.yaml.tmpl
  infra/modules/openstack/talos-cluster/templates/install-disk-and-hostname.yaml.tmpl
  infra/modules/openstack/talos-cluster/templates/provider-id.yaml.tmpl
  infra/modules/openstack/talos-cluster/variables.tf
  infra/modules/openstack/talos-cluster/versions.tf
Due: none

chore(deps): update ghcr.io/external-secrets/external-secrets docker tag to v0.20.4
  cluster/platform/external-secrets/manifest.yaml
Due: kube-linter

chore(deps): update ghcr.io/home-operations/home-assistant docker tag to v2025.10.4
  cluster/apps/smart-home/hass/statefulset.yaml
Due: kube-linter

chore(deps): update ghcr.io/home-operations/prowlarr docker tag to v2.1.5
  cluster/apps/media-server/prowlarr/deployment.yaml
Due: kube-linter

chore(deps): update ghcr.io/home-operations/radarr docker tag to v6.0.4
  clusters/base/apps/media-server/radarr/deployment.yaml
Due: none

chore(deps): update ghcr.io/home-operations/sabnzbd docker tag to v4.5.5
  clusters/base/apps/media-server/sabnzbd/deployment.yaml
Due: none
