Repository ralgar/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kube-linter, markdownlint, pages, ansible-lint, renovate-validate, packer:validate

.gitlab/ci/clusters.yml:

---
kube-linter:
  stage: validate
  image:
    name: docker.io/stackrox/kube-linter:v0.7.4-alpine
    entrypoint: [""]
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - .gitlab/ci/clusters.yml
        - .kube-linter.yml
        - clusters/**/*
  script:
    - /kube-linter lint clusters

.gitlab/ci/docs.yml:

---
markdownlint:
  stage: lint
  image:
    name: ghcr.io/igorshubovych/markdownlint-cli:v0.38.0
    entrypoint: [""]
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - .gitlab/ci/docs.yml
        - "**/*.md"
  script:
    - markdownlint "**/*.md"

# Deploy to GitLab Pages using mkdocs
pages:
  stage: build
  image:
    name: docker.io/squidfunk/mkdocs-material:9
    entrypoint: [""]
  rules:
    - if: $CI_COMMIT_TAG
      changes:
        - .gitlab/ci/docs.yml
        - docs/**/*
  script:
    - mkdocs build --config-file docs/mkdocs.yml --site-dir ${CI_PROJECT_DIR}/public
  artifacts:
    paths:
      - public

.gitlab/ci/metal.yml:

---
ansible-lint:
  stage: lint
  image: registry.gitlab.com/pipeline-components/ansible-lint:latest
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - metal/**/*
  script:
    - ansible-lint --show-relpath metal

.gitlab/ci/renovate.yml:

---
spec:
  inputs:
    version:
      description: Renovate version to run
      type: string
      default: '41'
---
renovate-validate:
  stage: validate
  image: docker.io/renovate/renovate:$[[ inputs.version ]]
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - .gitlab/renovate.json
        - .gitlab/ci/renovate.yml
  script:
    - renovate-config-validator

renovate:
  stage: renovate
  image: docker.io/renovate/renovate:$[[ inputs.version ]]
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: always
    - when: never
  variables:
    RENOVATE_PLATFORM: gitlab
    RENOVATE_ENDPOINT: "https://gitlab.com/api/v4"
    RENOVATE_REPOSITORIES: $CI_PROJECT_PATH
  script:
    - renovate

.gitlab/ci/templates.yml:

---
packer:validate:
  stage: validate
  image:
    name: docker.io/hashicorp/packer:1.14
    entrypoint: [""]
  variables:
    PACKER_PLUGIN_PATH: ${CI_PROJECT_DIR}/.packer/plugins
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - .gitlab/ci/templates.yml
        - templates/**/*
  before_script:
    - apk add ansible
  script:
    - cd templates
    - packer init .
    - packer validate .

.gitlab/templates/build-docs.yml:

# Deploy to GitLab Pages using mkdocs
---
pages:
  stage: build
  image:
    name: docker.io/squidfunk/mkdocs-material:9
    entrypoint: [""]
  rules:
    - if: $CI_COMMIT_TAG
      changes:
        - .gitlab-ci.yml
        - .gitlab/templates/build-docs.yml
        - docs/**/*
  script:
    - mkdocs build --config-file docs/mkdocs.yml --site-dir ${CI_PROJECT_DIR}/public
  artifacts:
    paths:
      - public

chore(deps): update ghcr.io/home-operations/sonarr docker tag to v4.0.16
  clusters/base/apps/media-server/sonarr/deployment.yaml
Due: kube-linter

feat(infra/main): implement healthcheck for backups
  infra/deployments/main/compute.tf
  infra/deployments/main/variables.tf
  infra/modules/ignition/backups/autorestic.tf
  infra/modules/ignition/backups/templates/autorestic.yml.tmpl
  infra/modules/ignition/backups/variables.tf
Due: none

chore(deps): update ghcr.io/inovex/external-dns-openstack-webhook docker tag to v1.1.1
  clusters/base/system/controllers/external-dns.yaml
Due: kube-linter

chore(deps): update helm release external-secrets to v0.20.4
  clusters/base/platform/controllers/external-secrets.yaml
Due: kube-linter

chore(deps): update helm release flux2 to v2.17.1
  infra/modules/kubernetes/flux/install.tf
Due: none

chore(deps): update helm release loki-stack to v2.10.3
  clusters/base/system/controllers/monitoring.yaml
Due: kube-linter

chore(infra): gitignore the temporary infra dir
  infra/.gitignore
Due: none

chore(infra/fcos): explicitly define subnet for module
  infra/deployments/main/compute.tf
  infra/deployments/main/main.tf
  infra/modules/openstack/fcos-instance/network.tf
  infra/modules/openstack/fcos-instance/variables.tf
Due: none

chore(deps): update helm release trust-manager to v0.20.2
  clusters/base/system/controllers/cert-manager.yaml
Due: kube-linter

chore(deps): update helm release flux2 to v2.17.2
  infra/modules/kubernetes/flux/install.tf
Due: none

chore(deps): update helm release flux2-sync to v1.14.1
  infra/modules/kubernetes/flux/sync.tf
Due: none

chore(infra/admin): add latest FCOS image
  infra/deployments/admin/images/fedora-coreos.tf
Due: none

chore(infra/main): update FCOS and Jellyfin
  infra/deployments/main/compute.tf
  infra/deployments/main/quadlets/jellyfin.container
Due: none

chore(deps): update ghcr.io/igorshubovych/markdownlint-cli docker tag to v0.47.0
  .gitlab/ci/docs.yml
Due: markdownlint, pages

chore(deps): update ghcr.io/home-operations/home-assistant docker tag to v2025.12.5
  clusters/base/apps/smart-home/hass/deployment.yaml
Due: kube-linter

chore(deps): update ghcr.io/home-operations/prowlarr docker tag to v2.3.1
  clusters/base/apps/media-server/prowlarr/deployment.yaml
Due: kube-linter

chore(deps): update ghcr.io/home-operations/radarr docker tag to v6.1.0
  clusters/base/apps/media-server/radarr/deployment.yaml
Due: kube-linter

chore(deps): update helm release trust-manager to v0.20.3
  clusters/base/system/controllers/cert-manager.yaml
Due: kube-linter

chore(deps): update vault-operator docker tag to v1.23.4
  clusters/base/platform/controllers/vault-operator.yaml
Due: kube-linter

chore(infra/admin): improve DNS configuration for DMZs
  infra/deployments/admin/networks/dmz0.tf
  infra/deployments/admin/networks/dmz1.tf
  infra/deployments/admin/networks/dmz2.tf
  infra/deployments/admin/networks/dmz3.tf
Due: none

chore(deps): update ghcr.io/jellyfin/jellyfin docker tag to v10.11.5
  clusters/base/apps/media-server/jellyfin/deployment.yaml
Due: kube-linter

chore(deps): update helm release cert-manager to v1.19.2
  clusters/base/system/controllers/cert-manager.yaml
Due: kube-linter

chore(infra/admin): add compute-optimized flavors
  infra/deployments/admin/flavors/c1-1.tf
Due: none

chore(deps): update ghcr.io/home-operations/prowlarr docker tag to v2.3.2
  clusters/base/apps/media-server/prowlarr/deployment.yaml
Due: kube-linter

feat(infra): add uptime monitoring
  .gitlab-ci.yml
  infra/deployments/ops/.terraform.lock.hcl
  infra/deployments/ops/data.tf
  infra/deployments/ops/monitoring-server.tf
  infra/deployments/ops/providers.tf
  infra/deployments/ops/quadlets/uptime-kuma.container
  infra/deployments/ops/variables.tf
Due: pages

chore(deps): update ghcr.io/home-operations/radarr docker tag to v6.1.1
  clusters/base/apps/media-server/radarr/deployment.yaml
Due: kube-linter

chore(deps): update ghcr.io/jellyfin/jellyfin docker tag to v10.11.6
  clusters/base/apps/media-server/jellyfin/deployment.yaml
Due: kube-linter

chore(infra/ops): backup monitoring server
  infra/deployments/ops/common-dns.tf
  infra/deployments/ops/monitoring-server.tf
Due: none

ci(renovate): update configuration for project v3
  .gitlab/renovate.json
Due: renovate-validate

fix(monitoring): disable kube-proxy scraping
  kubernetes/workloads/system/monitoring/controllers/prometheus.yaml
Due: none

build(makefile): add diff target
  Makefile
Due: none

chore(deps): update helm release cert-manager to v1.19.4
  kubernetes/workloads/system/cert-manager/controller/cert-manager.yaml
Due: none

chore(deps): update dependency csi-snapshotter to v8.5.0
  kubernetes/workloads/system/external-snapshotter/manifests/external-snapshotter.yaml
Due: none

chore(deps): update helm release gitlab-runner to v0.86.0
  kubernetes/workloads/platform/gitlab-runner/manifests/gitlab-runner.yaml
Due: none

chore(deps): update helm release kube-prometheus-stack to v77.14.0
  kubernetes/workloads/system/monitoring/controllers/prometheus.yaml
Due: none

chore(deps): update hashicorp/vault docker tag to v1.21.3
  kubernetes/workloads/platform/vault/config/vault.yaml
Due: none

chore(deps): update helm release trust-manager to v0.21.1
  kubernetes/workloads/system/cert-manager/controller/trust-manager.yaml
Due: none

chore(deps): update helm release volsync to v0.14.0
  kubernetes/workloads/platform/volsync/manifests/volsync.yaml
Due: none

chore(deps): update ghcr.io/seerr-team/seerr docker tag to v3.1.0
  kubernetes/workloads/apps/media-server/seerr/manifests/deployment.yaml
Due: none
